<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Configuración de seguridad -->
    <http auto-config="true">
    <intercept-url pattern="/" access="permitAll"/>
    <intercept-url pattern="/CrearCapacitacion" access="hasAnyAuthority('cliente')"/>  
        
       <form-login login-page="/login"
       authentication-failure-url="/error"
       username-parameter="username"
       password-parameter="password"/>
       <csrf disabled="true"/>
       <logout logout-success-url="/login"/>
    </http>

    <!-- Configuración de autenticación -->
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <user-service>
                <user name="cliente" authorities="cliente" password="$2a$10$qiy/hp5tlOv5/.ku.5byY.hcC8rHs0M907wirqRinbjSmgzIUlm8q" />
                <user name="administrativo" authorities="administrativo" password="$2a$10$DUhPTVFdJV.bRmxjQFUabe7A5bQT4ETb0j8BMKd5oBPonT4RBjhoa" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
