<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Configuración de seguridad -->
	<http auto-config="true">
		<intercept-url pattern="/CrearCapacitacion"
			access="hasRole('cliente')" />
		<intercept-url pattern="/ListarCapacitaciones"
			access="hasRole('cliente')" />
		<intercept-url pattern="/ListarUsuarios"
			access="hasRole('administrativo')" />

		<!-- Configura la página de login -->
		<form-login login-page="/login"
			authentication-failure-url="/error" username-parameter="username"
			password-parameter="password" />

		<!-- Configura la página de logout -->
		<logout logout-url="/logout" logout-success-url="/" />

		<!-- Desactiva CSRF (útil solo para fines de desarrollo, asegúrate de tenerlo 
			activado en producción) -->
		<csrf disabled="true" />
	</http>

	<!-- Configuración de autenticación -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />
			<user-service>
				<user name="cliente" authorities="ROLE_cliente"
					password="$2a$10$qiy/hp5tlOv5/.ku.5byY.hcC8rHs0M907wirqRinbjSmgzIUlm8q" />
				<user name="administrativo" authorities="ROLE_administrativo"
					password="$2a$10$DUhPTVFdJV.bRmxjQFUabe7A5bQT4ETb0j8BMKd5oBPonT4RBjhoa" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>

